a.lang_us, a.lang_en {background-position:7px 6px !important;}
a.lang_ru {background-position:7px -18px !important;}
a.lang_zh_CN, a.lang_zh_TW {background-position:7px -40px !important;}
a.lang_tr {background-position:7px -63px !important;}
a.lang_fr {background-position:7px -86px !important;}
a.lang_es {background-position:7px -109px !important;}
a.lang_de {background-position:7px -132px !important;}
a.lang_pt_BR {background-position:7px -155px !important;}
a.lang_pt {background-position:7px -178px !important;}
a.lang_it {background-position:7px -201px !important;}
a.lang_uk {background-position:7px -224px !important;}
a.lang_he {background-position:7px -247px !important;}
a.lang_ar {background-position:7px -270px !important;}
a.lang_hi {background-position:7px -293px !important;}
a.lang_ko {background-position:7px -316px !important; }
a.lang_tl {background-position:7px -339px !important;}
a.lang_vi {background-position:7px -362px !important;}
a.lang_sv {background-position:7px -385px !important;}
a.lang_ja {background-position:7px -408px !important;}
a.lang_pl {background-position:7px -431px !important;}
a.lang_th {background-position:7px -454px !important;}
a.lang_el {background-position:7px -477px !important;}
a.lang_hr {background-position:7px -500px !important;}
a.lang_lt {background-position:7px -546px !important;}
a.lang_sl {background-position:7px -569px !important;}
a.lang_sr {background-position:7px -615px !important;}
a.lang_bg {background-position:7px -638px !important;}
a.lang_nl {background-position:7px -661px !important;}
a.lang_fi {background-position:7px -684px !important;}
a.lang_sk {background-position:7px -593px !important;}
a.lang_cs {display:none!important;}
a.lang_sk b {background-position: 0px -598px !important;}
a.lang_ro {background-position: 7px -706px !important;}
a.lang_ro b {background-position: 0 -713px !important;}
a.lang_hu {background-position: 7px -730px !important;}
a.lang_no {background-position: 7px -753px !important;}
a.lang_da {background-position: 7px -776px !important;}
a.lang_da b {background-position: 0px -783px !important;}
a.lang_da_DK {background-position: 7px -776px !important;}
a.lang_da_DK b {background-position: 0px -783px !important;}