@charset "UTF-8";
/* CSS Document */

/* Body
*******************************************************************/
html {height:100%; margin:0; padding:0; border:0; position:relative;}
body {min-height:100%; margin:0;  padding:0; border:0; position:relative; background:transparent; font-family:Arial;}

input, div, table, td, th {outline:none; font-family:Arial;}
form {padding:0; margin:0; border:0;}
select {-webkit-appearance:none; margin:0; background-image:url(/images/cc/select_arrow.png?1) !important; background-position:right center !important; background-repeat:no-repeat !important; font-family:Arial;}
input, textarea {margin:0;}
.clearb {display:block; clear:both; font-size:0; line-height:0; margin:0; padding:0; height:0;}
a {outline:none; color:#3B5998; text-decoration:none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a:hover {outline:none; text-decoration:none;}
.floatl {float:left;}
.floatr {float:right;}
img {border:none;}
table {border-collapse:collapse;}
.center {text-align:center;}
p {font-size:14px; color:#666;}
.preloader {width:32px; height:32px; background:#E0E7EB url(/images/ajax-loader5.gif?1) no-repeat center center; text-indent:-2000em; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px;}

/* SELECT CARD */
.select_card {padding:0 0 10px 0;}
.select_card div {cursor:pointer; text-align:left; padding:8px 20px 8px 40px; font:normal 16px/16px Arial; margin:0 0 5px 0; border-top:1px solid #FFF; border-bottom:1px solid #DEDEDE; background:#F1F3F4 url(/images/cc/radio_buttons2.png?1) no-repeat 8px 7px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px;}
.select_card div:hover {border-top:1px solid #DEDEDE; border-bottom:1px solid #FFF; background-color:#e8ebec; background-position: 8px -83px;}
.select_card div.sel {border-top:1px solid #DEDEDE; border-bottom:1px solid #FFF; background-color:#FFF; background-position: 8px -173px;}
.select_card div input {display:none;}

/* CREDIT CARD FORM */
.data  {position: relative; margin-bottom:20px; right: 50%; float: right;}
.data_in {position: relative; z-index: 1; right: -50%;  -moz-box-shadow: 0px 1px 5px #CCC; -webkit-box-shadow: 0px 1px 5px #CCC; box-shadow: 0px 1px 5px #CCC; border-radius:10px; -moz-border-radius:10px;  -webkit-border-radius:10px;
background: #f1f3f4; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWU1ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #f1f3f4 0%, #e1e5ea 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f3f4), color-stop(100%,#e1e5ea)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f1f3f4 0%,#e1e5ea 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f1f3f4 0%,#e1e5ea 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f1f3f4 0%,#e1e5ea 100%); /* IE10+ */

background: linear-gradient(to bottom,  #f1f3f4 0%,#e1e5ea 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f4', endColorstr='#e1e5ea',GradientType=0 ); /* IE6-8 */

}
.box_padding {padding:15px;}
.data h3 {display:block; padding:5px 20px; margin:0; color:#FFF; font:normal 16px/16px Arial; text-align:center; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;
background: #464646; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjI2MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #464646 0%, #262626 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#262626)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #464646 0%,#262626 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #464646 0%,#262626 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #464646 0%,#262626 100%); /* IE10+ */

background: linear-gradient(to bottom,  #464646 0%,#262626 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#262626',GradientType=0 ); /* IE6-8 */

}

.inline {margin:0; padding:0 0 5px 0; color:#32363b;}
.title {float:left; padding:0 5px 0 0; width:160px; text-align:right; font:bold 13px/24px Arial; }
.field {float:left; padding:0; position:relative; width:230px;}
.inline input, .inline select {-webkit-appearance:none; border:1px solid #CCC; background:#FFF; width:216px; font-size:14px;  padding:4px; border-radius:5px; -moz-border-radius:5px;  -webkit-border-radius:5px; color:#666; }
.inline select  {width:236px;}

.cvv {position:absolute; z-index:155; left:0px; top:30px; border:1px solid #CCC; padding:10px; background:#FFF;}
.showme {float:left; display:block; padding:0 5px; line-height:26px;}
div.error {font-size:16px; color:#C00; border-bottom:1px dotted #DEDEDE; padding-bottom:5px; margin-bottom:10px; text-align:center;}
.field input.error, .field select.error {border:1px solid #F00; color:#C00;}
.success {font-size:26px;}
.success_icon {background:url(/images/paymentwall_mobile/success.png); width:100px; height:100px; margin:10px auto 20px auto;}

/* SUPER SMALL WIDGET DESIGN */
.supersmall h3 {font:normal 14px/16px Arial;}
.supersmall .inline {color:#666; padding:0 0 8px 0;}
.supersmall .title {float:none; width:auto; padding:0 0 5px 0; text-align:center; font:normal 13px/13px Arial;}
.supersmall .field {width:auto; float:none; text-align:center;}
.supersmall .inline input {width:290px;}
.supersmall .cvv {top:auto; left:65px; bottom:17px;}
.supersmall .showme {float:none; padding:5px 0 0 0; line-height:12px;}
.supersmall .success {font-size:22px;}
.supersmall p {font-size:13px; color:#666;}
.supersmall #inline_expires {float:left; padding:0 30px 0 0;}
.supersmall #inline_cvv {float:left;}
.supersmall #inline_cvv input {margin:0; float:none;}
.supersmall #inline_zip {float:right;}

.button {display:block; font:bold 16px/30px Arial; color:#000; text-shadow:0 1px 1px #ffed97; border:1px solid #e5af00; border-bottom:1px solid #ce9d00; text-decoration:none; text-align:center; cursor:pointer; text-transform:uppercase; border-radius:8px;-moz-border-radius:8px; -webkit-border-radius:8px; -webkit-border-radius:8px; box-shadow:inset 0 1px 0 #FFF, inset 0 -1px 0 #ffda64; -moz-box-shadow:inset 0 1px 0 #FFF, inset 0 -1px 0 #ffda64; -webkit-box-shadow:inset 0 1px 0 #FFF, inset 0 -1px 0 #ffda64;
background: #ffdf60; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGY2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZDIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjYzkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGJiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffdf60 0%, #ffd200 49%, #fcc900 50%, #f4bb00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdf60), color-stop(49%,#ffd200), color-stop(50%,#fcc900), color-stop(100%,#f4bb00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf60', endColorstr='#f4bb00',GradientType=0 ); /* IE6-8 */}
.button:hover {background: #ffe791; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTc5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZGQ0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZDQzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNlM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffe791 0%, #ffdd47 49%, #ffd43a 50%, #ffce3d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe791), color-stop(49%,#ffdd47), color-stop(50%,#ffd43a), color-stop(100%,#ffce3d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe791', endColorstr='#ffce3d',GradientType=0 ); /* IE6-8 */}
.button:active {border-top-color: #c29400; border-bottom-color:#f8c212; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; 
background: #f4bb00; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YmIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNhMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f4bb00 0%, #ffca2b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4bb00), color-stop(100%,#ffca2b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4bb00 0%,#ffca2b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4bb00 0%,#ffca2b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4bb00 0%,#ffca2b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4bb00 0%,#ffca2b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bb00', endColorstr='#ffca2b',GradientType=0 ); /* IE6-8 */}
.button.pay, .button.pay:hover {font:bold 16px/30px Arial;  width:auto; max-width:150px; float:right;}
.button.login, .button.login:hover {font:bold 16px/30px Arial;  width:auto; max-width:150px; float:right; margin-top:5px;}
.button span {display:block; padding:0 25px;}
.buttons_inline {position: relative; right: 50%; float: right;}
.buttons_inline_center {position: relative; z-index: 1; right: -50%; }
.buttons_inline .button {float:left; margin:0 5px 10px 0;}

.actions {margin:10px -15px -15px -15px; background:#e0e7eb; width:395px;  padding:8px 15px; border-top:1px solid #c7d2d7; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; box-shadow: 0 0 0 #fff, inset 0 1px 0px #fafcfd, 0 0 0 #FFF, 0 0 0 #FFF; -moz-box-shadow: 0 0 0 #fff, inset 0 1px 0px #fafcfd, 0 0 0 #FFF, 0 0 0 #FFF; -webkit-box-shadow: 0 0 0 #fff, inset 0 1px 0px #fafcfd, 0 0 0 #FFF, 0 0 0 #FFF;}
.actions table {width:395px;}
.actions td.td_left {font-size:11px; color:#666;}
.actions td.td_left input {margin-right:8px;}
.actions td.td_right {text-align:right; padding-left:10px;}
.actions td.td_left label {display:block; margin:0 0 5px 0; font-size:12px; color:#333;}
.actions .small {font:11px/12px Arial;}
#privacy {padding-bottom:10px;}


.save_holder {position: relative; right: 50%; float: right; margin:0 0 10px 0;}
.save_holder_in {position: relative; z-index: 1; right: -50%; font:12px/12px Arial; text-transform:uppercase; color:#3e424c; padding:10px 20px; border-top:1px solid #DEDEDE; border-bottom:1px solid #FFF; background-color:#FFF; border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;}

.save {position:static; top:0; left:0; width:auto;   cursor:pointer;}
.save input {display:none;}
.checkbox {float:left; width:22px; height:22px; background:url(/images/cc/checkbox.png) no-repeat 0 0;}
.checkbox.checked {background-position:-30px 0;}
.save_text {float:left; padding:6px 0 0 7px;}

.button2 {border:1px solid #e5af00; border-bottom:1px solid #ce9d00; font:bold 16px/34px Arial; padding:6px 25px; color:#000; text-shadow:0 1px 1px #ffed97; text-decoration:none; text-align:center; cursor:pointer; text-transform:uppercase; border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px; box-shadow:inset 0 1px 0 #FFF, inset 0 -1px 0 #ffda64; -moz-box-shadow:inset 0 1px 0 #FFF, inset 0 -1px 0 #ffda64; -webkit-box-shadow:inset 0 1px 0 #FFF, inset 0 -1px 0 #ffda64;
background: #ffdf60; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGY2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZDIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjYzkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGJiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffdf60 0%, #ffd200 49%, #fcc900 50%, #f4bb00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdf60), color-stop(49%,#ffd200), color-stop(50%,#fcc900), color-stop(100%,#f4bb00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffdf60 0%,#ffd200 49%,#fcc900 50%,#f4bb00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf60', endColorstr='#f4bb00',GradientType=0 ); /* IE6-8 */}
.button2:hover {text-decoration:none; 
background: #ffe791; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTc5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZGQ0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZDQzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNlM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffe791 0%, #ffdd47 49%, #ffd43a 50%, #ffce3d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe791), color-stop(49%,#ffdd47), color-stop(50%,#ffd43a), color-stop(100%,#ffce3d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffe791 0%,#ffdd47 49%,#ffd43a 50%,#ffce3d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe791', endColorstr='#ffce3d',GradientType=0 ); /* IE6-8 */}
.button2:active {border-top-color: #c29400; border-bottom-color:#f8c212; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; 
background: #f4bb00; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YmIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNhMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f4bb00 0%, #ffca2b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4bb00), color-stop(100%,#ffca2b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4bb00 0%,#ffca2b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4bb00 0%,#ffca2b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4bb00 0%,#ffca2b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4bb00 0%,#ffca2b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bb00', endColorstr='#ffca2b',GradientType=0 ); /* IE6-8 */}
.small {font:normal 12px Arial; color:#666;}
.small a, .small a:hover {font-size:12px; }

.privacy {font-size:11px; color:#666; margin:0 0 7px 0;}

/* ONLY FOR DESKTOP */
.data_in.cc_extra {font-size:13px; color:#333; background:none; padding:0; width:400px;}
.data_in.center {}
.data_in.center h3 {}
.secure {position:absolute; top:18px; left:270px; background:url(/images/icon_secure.png) no-repeat 0 0; padding:2px 0 2px 15px; font:bold 11px Arial; color:#666;}
.amount {margin-bottom:20px; font:normal 15px Arial; color:#666; -moz-border-radius:8px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
.amount strong {color:#000;}

/* MOBILE WIDGET ONLY */
.data h3.cc {padding:5px 100px 5px 15px; text-align:left;}
.data .cards_logo {position:absolute; top:5px; right:15px; text-indent: -2000em; background:url(/images/icon_cards3.png); width:81px; height:16px;}
.data .cards_logo.hipercard {background:url(/images/icon_hipercard.png); width: 33px;}
.data .cards_logo.amex {background:url(/images/amex/compact_cc_amex.png) repeat scroll 0 0 transparent; width:110px;}
.data .cards_logo.cc_brazil {background:url(/images/cc/cc_logos_16.png)  !important; width:78px;}
.data .cards_logo.amex_only {	background: url(/images/amex/compact_cc_amex.png) repeat scroll 28px 0 transparent;
	width: 28px;
	margin-right: 5px;
}
.data .jp .cards_logo.amex {background:url(/images/amex/compact_cc_amex_jcb.png) repeat scroll 0 0 transparent; width:110px;}

div.cc_response_error {font-size:13px; color:#C00; border-bottom:1px dotted #DEDEDE; padding-bottom:5px; margin-bottom:10px; text-align:center;}

/* VISA/MASTERCARD */
.verifiedby {width:395px; margin:10px 0; font:normal 11px Arial; color:#999; text-align:left;}
.verifiedby .logos_container {float:left; margin-right:10px; width:63px;}
.verifiedbyvisa {display:block; width:63px; height:30px; margin-bottom:5px; background:url(/images/cc/verifiedbyvisa2.png) no-repeat 0 0; text-indent:-2000em;}
.mastercardsecure {display:block; width:63px; height:27px; background:url(/images/cc/mastercardsecure2.png) no-repeat 0 0; text-indent:-2000em;}

.logo {display:block; background:url(/images/logo_paymentwall6.png) no-repeat center center; width:323px; height:63px; text-indent:-2000em; margin:0 auto 10px;}
.info {font-size:14px; color:#666;}

/* CC LOGOS V2 */
.cc_logos {position: absolute; top: 5px; right: 15px;}
.cc_logos div {float: left; width: 25px; height: 16px; margin: 0 1px; background-image: url(/images/cc_sprite_16.png); background-repeat: no-repeat;}
.cc_logos div:first-child {margin: 0 1px 0 0;}
.cc_logos div:last-child {margin: 0 0 0 1px;}
.cc_logo_visa {background-position: 0 0;}
.cc_logo_mastercard {background-position: -26px 0;}
.cc_logo_amex {background-position: -52px 0;}
.cc_logo_maestro {background-position: -78px 0;}
.cc_logo_discover {background-position: -104px 0;}
.cc_logo_unionpay {background-position: -130px 0;}
.cc_logo_jcb {background-position: -156px 0;}
.cc_logo_dinners {background-position: -182px 0;}
.cc_logo_cb {background-position: -208px 0;}
.cc_logo_hipercard {background-image: url(/images/icon_hipercard.png) !important; width: 34px !important;}
.cc_logo_elo {background-image: url(/images/ps_logos/pm_elo.png) !important; background-size: 45px !important; width: 31px !important; margin-left: -10px !important;}

/* RESPONSIVE STYLES */
@media (max-width: 425px) {
	.data_in {
		min-width: 240px;
	}
	.data h3.cc {
		padding: 5px 15px;
		text-align: left;
	}
	.data .cards_logo,	.data .cc_logos {
		box-sizing: border-box;
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: 21px;
		padding: 0 15px 5px 15px;
		text-indent: -2000em;
		background-image: url("/images/icon_cards3.png");
		background-repeat: no-repeat;
		background-position: 15px 0;
		background-color: #262626;
	}
	.data .cards_logo.hipercard {
		width: 100%;
		background-image: url("/images/icon_hipercard.png");
		background-repeat: no-repeat;
		background-position: 15px 0;
		background-color: #262626;
	}
	.data .cards_logo.amex {
		width: 100%;
		background-image: url("/images/amex/compact_cc_amex.png");
		background-repeat: no-repeat;
		background-position: 15px 0;
		background-color: #262626;
	}
	.data .jp .cards_logo.amex {
		width: 100%;
		background-image: url("/images/amex/compact_cc_amex_jcb.png");
		background-repeat: no-repeat;
		background-position: 15px 0;
		background-color: #262626;
	}
	div.cc_response_error {
		font-size: 13px;
		color: #C00;
		border-bottom: 1px dotted #DEDEDE;
		padding-bottom: 5px;
		margin-bottom: 10px;
		text-align: center;
	}
	.title {
		width: 100%;
		text-align: left;
	}
	.field {
		width: 100%;
		clear: both;
	}
	#cards:after {
		content: "";
		display: table;
		clear: both;
	}
	.inline > * {
		box-sizing: border-box;
	}
	#inline_expiry,
	#inline_cvv {
		float: left;
		width: 50%;
	}
	.inline .field input {
		box-sizing: border-box;
		height: 34px;
		padding: 4px;
	}
	.inline .field select {
		box-sizing: border-box;
		height: 34px;
		padding: 4px;
	}
	input[name="name_on_card"],
	input[name="cnumber"],
	input[name="street"],
	input[name="city"],
	input[name="zip"],
	select[name="state"],
	select[name="country"] {
		width: 100% !important;
	}
	input[name="zip"] {
		margin-top: 8px;
	}
	input[name="expMonth"],
	input[name="expYear"],
	input[name="cvv"] {width: 40px !important;}
	.actions {
		width: auto;
	}
	.actions table {
		width: auto;
	}
	/*hipercard*/
	input[name="birth_date_day"] {width: 40px !important;}
	input[name="birth_date_month"] {width: 40px !important;}
	/*mercadopago*/
	input[name="street_number"] {
		width: 100% !important;
		margin-top: 8px;
	}
}
#freeTrialMessage, #recurringMessage {
	background-color: #212021;
	color: #fff;
  	font-size: 12px;
  	line-height: 16px;
  	padding: 5px 10px 5px 38px;
  	background-image: url("/images/cc/free_trial_message_icon.png");
  	background-repeat: no-repeat;
  	background-position: 14px 3px;
  	text-align: left;
	max-width: 377px;
}
.trial-reccuring-btn {
	min-width: 140px;
}
.button.pay.trial-reccuring-btn, .button.pay.trial-reccuring-btn:hover {
	font-size: 14px;
	color: #fff;
	text-shadow: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: none;
	background: #00ab66;
	border-bottom: 2px solid #009458;
}
.button.pay.trial-reccuring-btn:hover {
	background: #009957;
	border-bottom: 2px solid #0e8c56;
}
.button.pay.trial-reccuring-btn:active {
	background: #008048;
	border-bottom: none;
	border-top: 2px solid #007341;
}
.button.trial-reccuring-btn span {
	padding: 5px 20px;
}
.cc_select_type {
    width: 70px!important;
}

.select_compact {
    width: 227px!important;
}